In [7]:
import pandas as pd

In [8]:
df = pd.read_csv(r"C:\Users\ASUS\Desktop\Kaggle Data\spotify_millsongdata.csv")

In [9]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [10]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [11]:
df.shape

(57650, 4)

In [12]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [13]:
df = df.sample(5000).drop('link',axis=1).reset_index(drop=True)

In [14]:
df.head(10)

,artist,song,text
0,Lynyrd Skynyrd,Michelle,"Michelle, little girl I need you baby \r\nMor..."
1,Uriah Heep,Rain,It's raining outside \r\nBut that's not unusu...
2,Sting,Natural High,Ooh! \r\nWho needs the sky? \r\nJust watch m...
3,Queen Adreena,Medicine Jar,My baby talks in his sleep \r\nI said wake hi...
4,Eddie Cochran,Don't Bye-bye-baby Me,Well honey-honey please don't go \r\nDon't yo...
5,Eddie Cochran,Cut Across Shorty,Now a country boy called shorty \r\nAnd a cit...
6,Linda Ronstadt,Goodbye My Friend,Oh we never know where life will take us \r\n...
7,Eric Clapton,It Ain't Right,You know it ain't right just to treat me this ...
8,Dewa 19,Arjuna,[Verse 1] \r\nSudah kudaki gunung tertinggi ...
9,Glen Campbell,Faith,You must have faith in everything you do \r\n...

In [15]:
df['text'][0]

"Michelle, little girl I need you baby  \r\nMore than the air I breathe  \r\nMy love for you grows stronger babe  \r\nMy words you must believe  \r\nWell I need to see you laugh again  \r\nAnd I want to see you smile  \r\nMichelle, little girl I love you baby  \r\nYou're my only child  \r\nMichelle, little girl the pain for you  \r\nIs hurting me inside  \r\nAt night I think of you sometimes  \r\nI lean my head and cry  \r\nI need to see you laugh again  \r\nAnd I wanna see you smile  \r\nMichelle, little girl I love you baby  \r\nYou're my only child  \r\nMichelle, little girl I need you baby  \r\nMore than the air I breathe  \r\nMy love for you grows stronger babe  \r\nMy words you must believe  \r\nI need to see you laugh again  \r\nAnd I wanna see you smile  \r\nMichelle, little girl I love you baby  \r\nYou're my only child  \r\n\r\n"

In [16]:
df.shape

(5000, 3)

Text Cleaning/ Text Preprocessing

In [17]:
df['text'].str.lower().replace(r'^\w\s', ' ').replace(r'\n', ' ', regex = True)

0       michelle, little girl i need you baby  \r more...
1       it's raining outside  \r but that's not unusua...
2       ooh!  \r who needs the sky?  \r just watch me ...
3       my baby talks in his sleep  \r i said wake him...
4       well honey-honey please don't go  \r don't you...
                              ...
4995    baby i think we both know it's gone wrong, wro...
4996    when i was a boy  \r i never played with toys ...
4997    come with me come with me now  \r inside the g...
4998    try, try, try just a little bit harder  \r so ...
4999    maybe we forced the deal, delivered some kind ...
Name: text, Length: 5000, dtype: object

In [18]:
df['text'] = df['text'].str.lower().replace(r'^\w\s', ' ').replace(r'\n', ' ', regex = True)

In [19]:
df

,artist,song,text
0,Lynyrd Skynyrd,Michelle,"michelle, little girl i need you baby \r more..."
1,Uriah Heep,Rain,it's raining outside \r but that's not unusua...
2,Sting,Natural High,ooh! \r who needs the sky? \r just watch me ...
3,Queen Adreena,Medicine Jar,my baby talks in his sleep \r i said wake him...
4,Eddie Cochran,Don't Bye-bye-baby Me,well honey-honey please don't go \r don't you...
...,...,...,...
4995,Tim McGraw,Me And Tennessee,"baby i think we both know it's gone wrong, wro..."
4996,Alice Cooper,Make That Money (Scrooge's Song),when i was a boy \r i never played with toys ...
4997,Scorpions,Mind Like A Tree,come with me come with me now \r inside the g...
4998,Janis Joplin,Try,"try, try, try just a little bit harder \r so ..."
4999,Europe,Always The Pretenders,"maybe we forced the deal, delivered some kind ..."

In [20]:
df.tail(5)

,artist,song,text
4995,Tim McGraw,Me And Tennessee,"baby i think we both know it's gone wrong, wro..."
4996,Alice Cooper,Make That Money (Scrooge's Song),when i was a boy \r i never played with toys ...
4997,Scorpions,Mind Like A Tree,come with me come with me now \r inside the g...
4998,Janis Joplin,Try,"try, try, try just a little bit harder \r so ..."
4999,Europe,Always The Pretenders,"maybe we forced the deal, delivered some kind ..."

In [21]:
import nltk
from nltk.stem.porter import PorterStemmer

In [22]:
stemmer = PorterStemmer()

In [23]:
def token(txt):
    token = nltk.word_tokenize(txt)
    a = [stemmer.stem(w) for w in token]
    return " ".join(a)

In [24]:
token("you are beautiful, beauty")

'you are beauti , beauti'

In [25]:
df['text'].apply(lambda x: token(x))

0       michel , littl girl i need you babi more than ...
1       it 's rain outsid but that 's not unusu but th...
2       ooh ! who need the sky ? just watch me fli i '...
3       my babi talk in hi sleep i said wake him up sh...
4       well honey-honey pleas do n't go do n't you kn...
                              ...
4995    babi i think we both know it 's gone wrong , w...
4996    when i wa a boy i never play with toy never ha...
4997    come with me come with me now insid the garden...
4998    tri , tri , tri just a littl bit harder so i c...
4999    mayb we forc the deal , deliv some kind of blo...
Name: text, Length: 5000, dtype: object

In [26]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [27]:

tfidf = TfidfVectorizer(analyzer='word', stop_words='english')

In [28]:
matrix = tfidf.fit_transform(df['text'])

In [29]:
matrix

<5000x24051 sparse matrix of type '<class 'numpy.float64'>'
	with 270327 stored elements in Compressed Sparse Row format>

In [30]:
cosine_similarity(matrix)

array([[1.        , 0.00706092, 0.        , ..., 0.0099011 , 0.03963182,
        0.01580223],
       [0.00706092, 1.        , 0.        , ..., 0.01476858, 0.01889228,
        0.00662615],
       [0.        , 0.        , 1.        , ..., 0.00957176, 0.01204325,
        0.        ],
       ...,
       [0.0099011 , 0.01476858, 0.00957176, ..., 1.        , 0.024207  ,
        0.        ],
       [0.03963182, 0.01889228, 0.01204325, ..., 0.024207  , 1.        ,
        0.01850869],
       [0.01580223, 0.00662615, 0.        , ..., 0.        , 0.01850869,
        1.        ]])

In [31]:
similar = cosine_similarity(matrix)

In [32]:
similar[0]

array([1.        , 0.00706092, 0.        , ..., 0.0099011 , 0.03963182,
       0.01580223])

Recommender Function

In [33]:
def recommender(song_name):
    idx = df[df['song']==song_name].index[0]
    distance = sorted(list(enumerate(similar[idx])), reverse = True, key = lambda x:x[1])
    song = []
    for s_id in distance[1:20]:             # will recommend 20 songs of same kind
        song.append(df.iloc[s_id[0]].song)
    return song

In [34]:
recommender("Isn't It Time")

['Get It Right This Time',
 "He Isn't You",
 'Time After Time',
 "It's About Time",
 'Better',
 'Marry You',
 'Shot Me In The Heart',
 "Kissin' Time",
 "It's Alright",
 "Don't Stop",
 'Dark Fantasy',
 "If I Can't Have You",
 'War Games',
 'Midnight Blue',
 "I Can't Find The Time",
 'Kenny Goes To Hell',
 'Soldier',
 'Help Me Remember',
 'Time To Kill']

In [35]:
import pickle

In [36]:
similar='similar.pkl'

In [45]:
pickle.dump(similar, open("similar","wb"))

In [64]:
pickle.dump(similar, open("similarity.pkl","wb"))

In [44]:
similarity = pickle.load(open(similar,'rb'))

In [43]:
df = 'df.pkl'

In [45]:
pickle.dump(df, open("df", "wb"))

In [46]:
pickle.dump(df, open("df.pkl","wb"))

In [47]:
df=pickle.load(open(df,'rb'))